.cart-container {
  background-image: url(https://images.pexels.com/photos/1186905/pexels-photo-1186905.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  height: 100vh;

}

.cart-container .cart-title{
  display: flex;
  flex-direction: column;
}
.cart-container .cart-title h2{
  margin-top: 10px;
  color: #29272783;
  text-align: center;
}


.cart-title .cart table {
  border-collapse: collapse;
  margin: 15px 5px;
  background-color: #2927275a;
  width: 70%;

}
.cart-title .cart table .empty-cart {
  color: rgb(255, 0, 0);
  font-weight: 500;
}

.cart-title .cart table thead tr {
  color: #f8efd9;
  text-align: left;
  border-bottom: 2px solid #f8efd960;
}

.cart-title .cart table th,
.cart-title .cart table td {
  padding: 12px 10px;
  font-size: 15px;
}

.cart-title .cart table tbody tr:last-of-type {
  border-bottom: 2px solid #f8efd960;
}
.cart-title .cart table tfoot {
  font-weight: 600;
  color: #f8efd9;
}

.cart-title .clean-list-btn {
  cursor: pointer;
  font-weight: 800;
  transition: all .2s;
  padding: 2px 6px;
  border-radius: 100px;
  border: 1px solid #2927275a;
  font-size: 13px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px;
  background-color: #f8efd9;
  color: #2927275a;
}

.cart-title .clean-list-btn:active {
  transform: scale(0.95);
}
.cart-title .clean-list-btn:hover {
  background-color: #2927275a;
  color: #f8efd9;
}


@media screen and (max-width: 768px) {
  .cart-title h2{
    font-size: 80%;
  }
  .cart-title .cart table {
    width: 578px;
  
  }
}
@media screen and (max-width: 576px) {
  .cart-title .cart table {
    width: 100% 
  
  }
  .cart-title .cart table th,
  .cart-title .cart table td {
    padding: 6px 7px;
    font-size: 11px;
  }

  .cart-title .cart table tbody tr:last-of-type {
    border-bottom: 2px solid #f8efd960;
  }
  .cart-title .cart table tfoot {
    font-weight: 600;
    color: #f8efd9;
  }
  
}