.about{
  position:relative;

}
.about img{
  width: 1519px;

}
.about .title-text {
  top: 10%;
  width: 27%;
  left: 60%;
  color: #f8efd9;
  font-size: 30px;
  position: absolute;
}
.about .title-text h2{
  margin: 0 0 5% 0 ;
}