.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4% 2%;
  border-radius: 5%;
  
}
.card img{
  width: auto;
  height: 90%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 7px 7px 0 0 ;
  
}
.card .card-text{
  display: flex;
  flex-direction: column;
  background: #2927274d;
  ;
  
}
.card .card-text h4, .card .card-text p{
  margin: 1% 0 0 3% ;
  
}
/* 
@media screen and (max-width: 768px) {
  

} */
@media screen and (max-width: 576px) {
  .card{
    margin: 4% 2%;
    border: none ;
    border-radius: 5%;
    width: 65%;
  }
  .card .card-text h4, .card .card-text p{
    font-size: 50%;
  }
}