.card{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 4% 2%;
  border-radius: 5%;
  height: 63vh;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.card .card-text{
  display: flex;
  flex-direction: column;
  background: #29272771;
  color: #f8efd9;
  font-size: 80%;
  
}
.card .card-text h4, .card .card-text p{
  margin: 1% 0 0 3% ;
  
}

@media screen and (max-width: 768px) {
  .card{
    height: 50vh;
  }
  .card .card-text{
    font-size: 70%;
    
  }

}
@media screen and (max-width: 576px) {
  .card{
    margin: 4% 2%;
    border: none ;
    border-radius: 5%;
    width: 50%;
    height: 40vh;
  }
  .card .card-text {
    font-size: 60%;
  }
}