
/* .attractions {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/65/Luna_Park_Melbourne_scenic_railway.jpg);
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  height: 100vh;
} */

.attractions h2{
  text-align: center;
  color: #2927275a;
}
@media screen and (max-width: 768px) {
  .attractions h2{
    font-size: 80%;
  }
}