.navbar{
  width:100%;
  background-color: #2927277d;
  padding:1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.navbar .navbar-a{
  color: #F0F7F4;
  text-decoration: none;
}
.navbar .navbar-button{
  display:none;
  cursor: pointer;
}
.navbar .navbar-svg{
  width:2em;
  height:2em;
}

.navbar .navbar-ul{
  display: flex;

  justify-content: space-between;
  list-style: none;
}
.navbar .navbar-ul .navbar-li{
  margin: 0 .5em;
}

@media screen and (max-width:768px){
  .navbar-a{
    font-size: 60%;
  }
}

@media screen and (max-width:480px){
  .navbar{
    flex-direction: column;
  }

  .navbar .navbar-button{
      display: flex;
  }
  .navbar .navbar-nav{
      width:100%;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      height:0vh;
      opacity: 0;
      overflow: hidden;
      transition: all .5s ease;
  }
  .navbar .navbar-nav.isActive{
      height:27vh;
      opacity: 1;
  }
  .navbar-ul{
      flex-direction: column;
  }
  .navbar-li{
      margin: .5em 0;
  }
}