nav {
  display: flex;
  justify-content: space-around;
  background-color: #2099d8;
  
}
nav a {
  padding: 1% 4%;
  font-size: 80%;
  text-decoration: none;
  color: #f8efd9;
  display: inline-block;
}
@media screen and (max-width: 576px) {
  nav a {
    font-size: 50%;
    padding: 1% 3%;
  }

}